* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: 100%;
}
section a {
    color: #901f0a;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;

}
section .material-symbols-outlined {
    vertical-align: middle;
    font-weight: 400;
}
body {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    color: #3c2e27;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 2;
}
header #container {
    max-width: 80%;
    margin: auto;
    border-left: 1px solid #901f0a;
    border-right: 1px solid #901f0a;
    padding-bottom: 10px;
    margin-bottom: 2px;
}
header .container1 {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #901f0a;
}
header .container1 .logo {
    width: 15%;
    height: 60px;
    padding: 0 10px;
}
header .container2 {
    width: 73%;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid #901f0a;
    border-right: 1px solid #901f0a;
    padding: 30px 20px;
}
header .container2 >div {
    display: flex;
    color: #901f0a;
}
header .container2 .material-symbols-outlined {
    font-size: 20px;
    color: gold;
    margin-right: 5px;
    margin-bottom: -1px;
    vertical-align: middle;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
header .head-btn {
    width: 12%;
    height: 83px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}
header .head-btn a {
    color: #fff;
    text-decoration: none;
}
header .head-btn .empty {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #901f0a;
    z-index: -1;
    transition: 0.5s;
}
header .head-btn:hover .empty {
    width: 0%;
    height: 0%;
}
header .head-btn:hover a {
    color: #901f0a;
}
/* SECOND CONTAINER */
header .container11 {
    padding-top: 15px;
}
header ul {
    display: flex;
}
header ul li {
    font-weight: 500;
    list-style-type: none;
    text-transform: uppercase;
    margin-left: 35px;
}
header .container11 ul >li:first-child {
    margin-left: 10px;
}
header ul li a {
    text-decoration: none;
    color: #3c2e27;
    padding: 10px 5px;
}
header ul li a:hover {
    border-bottom: 2px solid #3c2e27;
}
.dropmenu {
    position: relative;
    z-index: 2;
}
.dropdown {
    background-color: #fff;
    width: 190px;
    text-align: center;
    position: absolute;
    top: 33px;
    left: -18px;
    z-index: -1;
    padding: 5px 0 0;
    display: none;
}
.dropmenu:hover .dropdown {
    display: block;
}
.dropdown a {
    width: 100%;
    display: block;
    padding: 10px;
}
.dropdown a:hover {
    border: none;
    border-bottom: 2px solid #901f0a;
}
.dropdown2 {
    left: 10px;
}
/* HERO SECTION */
#hero {
    width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}
#hero video {
    width: 100%;
    height: 100%;
}
#hero .hero-img {
    width: 180px;
    height: 180px;
    position: absolute;
    bottom: 50px;
    left: 85px;
}
/* FIRST SECTION */
#new-york {
    background-image: url('https://i.postimg.cc/jS9mPDjs/New-york.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.tour-img {
    width: 45%;
}
.tour-img1 {
    width: 500px;
    height: 650px;
    margin-bottom: -100px;
}
#new-york .tour {
    background-color: rgb(255, 255, 255, 0.8);
    display: flex;
    align-content: center;
    justify-content: space-around;
}
.tour-writeup {
    background: url('https://www.overtonhotel.com/assets/images/bg/material.svg') 50% 50%;
    width: 55%;
}
.tour-writeup1 {
    background-color: rgba(252, 240, 214, 0.5);
    padding: 105px 100px 0 190px;
}
.tour-writeup1 h3 {
    color: #901f0a;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
}
.tour-writeup1 h1 {
    color: #901f0a;
    font-size: 50px;
    font-weight: 400;
    font-family: "libre caslon display", sans-serif;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.tour-writeup1 p {
    color: #3c2e27;
    font-weight: 400;
    text-align: justify;
    line-height: 27px;
    margin-bottom: 20px;
    padding-right: 30px;
}
/* ACCOMODATION SECTION */
#acco-container {
    background-color: rgb(243, 243, 243, 0.9);
    display: flex;
    align-items: center;
    padding: 200px 0 0;
}
#acco-container .writeup {
    padding: 0 100px;
}
.acco-img {
    z-index: 1;
}
.acco-img1 {
    width: 800px;
    height: 550px;
    margin-bottom: -80px;
}
.accomodation {
    margin-bottom: -50px;
}
#acco-container .writeup h3 {
    color: #901f0a;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
#acco-container .writeup h1 {
    color: #901f0a;
    font-size: 49px;
    font-weight: 400;
    font-family: "libre caslon display", sans-serif;
    text-transform: capitalize;
    margin-bottom: 20px;
    padding-right: 32px;
}
#acco-container .writeup p {
    color: #3c2e27;
    font-weight: 400;
    text-align: justify;
    line-height: 27px;
    margin-bottom: 20px;
}
/* SECOND SECTION */
#venue {
    position: relative;
}
#venue-container {
    background-color: rgb(243, 243, 243, 0.9);
    display: flex;
    align-items: center;
    padding: 150px 0 0;
}
#venue-container .writeup {
    padding: 0 100px;
}
.venue-img {
    z-index: 1;
}
.venue-img1 {
    width: 800px;
    height: 550px;
}
#venue-container .writeup h3, #conference h3, #conference cite, #offers h4 {
    color: #901f0a;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
#venue-container .writeup h1, #conference h1, #offers h1 {
    color: #901f0a;
    font-size: 49px;
    font-weight: 400;
    font-family: "libre caslon display", sans-serif;
    text-transform: capitalize;
    margin-bottom: 20px;
    padding-right: 32px;
}
#venue-container .writeup p, #conference blockquote, #offers blockquote {
    color: #3c2e27;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 20px;
}
#venue .writeup h1 {
    padding-right: 75px;
}
#venue .wind-mill1 {
    width: 700px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
/* CONFERENCE SECTION */
#conference {
    background-color: rgb(243, 243, 243, 0.9);
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 180px 0 40px;
    position: relative;

}
#conference .sub {
    width: 800px;
    text-align: center;
}
#conference h3, #conference h1 {
    margin-bottom: 30px;
}
#conference blockquote  {
    margin-bottom: 40px;
}
#conference cite {
    font-size: 22px;
}
.side-btn {
    width: 70px;
    height: 50px;
}
.right {
    position: absolute;
    bottom: 18%;
    right: 5%;
}
.left {
    position: absolute;
    bottom: 18%;
    left: 5%;
}
#conference .wind-mill2 {
    width: 600px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
/* ATHLETICS SECTION */
#athletics {
    background: url('https://www.overtonhotel.com/assets/images/bg/material.svg') 50% 50%;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
}
#athletics .image {
    width: 750px;
    height: 530px;
}
#athletics .t-img {
    width: 100px;
    height: 150px;
}
#athletics .sub-writeup {
    width: 420px;
    padding: 0 40px 0 0;
}
#athletics .sub-writeup h4 {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
#athletics .sub-writeup h1 {
    color: #fff;
    font-size: 49px;
    font-weight: 400;
    font-family: "libre caslon display", sans-serif;
    text-transform: capitalize;
    margin-bottom: 20px;
    padding-right: 32px;
}
#athletics .sub-writeup blockquote {
    color: #fff;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 20px;
}
#athletics .sub-writeup a {
    color: #fff;
}
/* LOCATION SECTION */
#location {
    display: flex;
    margin-top: 40px;
    margin-bottom: 100px;
}
#location .first {
    position: relative;
}
#location .image {
    width: 840px;
    height: 550px;
}
.location-sec {
    width: 400px;
    padding: auto;
    position: absolute;
    bottom: 0;
    left: 20%;
}
#location .location-sec h4 {
    color: #901f0a;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 2px;
}
#location .location-sec h1 {
    color: #901f0a;
    font-size: 45px;
    font-weight: 400;
    font-family: "libre caslon display", sans-serif;
    text-transform: capitalize;
    margin-bottom: 20px;
    padding-right: 32px;
}
#location .sub-writeup {
    width: 530px;
    height: 700px;
}
/* OFFERS SECTION */
#offers {
    display: flex;
    align-items: center;
    gap: 100px;
    position: relative;
    margin-bottom: 100px;
}
#offers .offers1 {
    width: 730px;
    height: 470px;
}
#offers .sub-writeup {
    width: 440px;
}
#offers .second {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
#offers input:nth-child(2) {
    margin: 0 20px;
}
#offers >img {
    width: 500px;
    height: 500px;
    position: absolute;
    top: -50%;
    right: -5%;
    z-index: -1;
    transform: rotate(86deg);
}
/* FOOTER SECTION */
footer {
    height: 540px;
    width: 100%;
    color: #fff;
    background: url('https://www.overtonhotel.com/assets/images/bg/material.svg') 50% 50%;
    padding: 30px 100px 0;
    position: relative;
}
footer .footer-sub1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    margin-bottom: 35px;
}
footer ul {
    display: flex;
}
footer ul li {
   font-size: 10px;
   font-weight: 600;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-transform: uppercase;
   margin-right: 35px;
}
footer ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 5px;
    padding: 2px 0;
}
footer ul li a:hover {
    border-bottom: 2px solid #fff;
}
footer ul li::marker {
    color: #fff;
}
footer ul li:first-child {
    list-style-type: none;
}
footer .footer-2nd {
    width: 400px;
    align-self: flex-start;
}
footer .footer-2nd .footer-logo {
    width: 250px;
    height: 80px;
    margin-bottom: 20px;
}
footer .footer-2nd p {
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 22px;
}
footer .footer-2nd .subb {
    margin-top: 20px;
}
footer .footer-2nd .subb a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
footer .footer-2nd .subb .fa-solid, .subb .fa-brands {
    color: gold;
}
.footer-2nd .subb a:first-child {
    margin-right: 70px;
}
.footer-2nd .subb a:nth-child(3) {
    margin: 0 10px;
}
footer .footer-3rd {
    width: 700px;
}
footer .footer-3rd h1 {
    font-size: 45px;
    font-family: "libre caslon display", sans-serif;
    margin-bottom: 10px;
}
footer .footer-3rd p {
    font-size: 17px;
    margin-bottom: 30px;
}
footer .footer-3rd input[type="text"], .footer-3rd input[type="email"] {
    width: 320px;
    border: none;
    outline: none;
    padding: 10px 5px;
    cursor: pointer;
}
.footer-3rd input[type="text"] {
    margin-right: 15px;
}
.footer-3rd input[type="text"]::placeholder, .footer-3rd input[type="email"]::placeholder {
    color: #901f0a;
    text-transform: uppercase;
    font-size: 14px;
}
footer .footer-3rd input[type="text"]:focus, .footer-3rd input[type="email"]:focus {
    color: #901f0a;
}
.footer-3rd .check {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.footer-3rd .check label {
    font-size: 15px;
}
.footer-3rd .check-box div:last-child {
    display: flex;
    width: 420px;
}
.check-box div:first-child input {
    margin: 0 5px 0 0;
    vertical-align: middle;
}
.check-link a {
    color: #fff;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}
.check-link .fa-solid {
    margin-left: 7px;
}
/* FOOTER DOWN */
#footer-down {
    background-color: rgb(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 0 35px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
#footer-down .first {
    display: flex;
    align-items: center;
    gap: 20px;
}
#footer-down .first > div {
    width: 65px;
    height: 68px;
}
#footer-down .second p {
    font-size: 13px;
}
#footer-down div:last-child p {
    font-size: 12px;
    word-spacing: 2px;
}